<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.laochou.markdown.mapper.ArticleMapper">
    <insert id="insertArticle" parameterType="cn.laochou.markdown.pojo.Article">
        insert into article (title, author, content) values(#{title}, #{author}, #{content});
    </insert>

    <select id="getArticleById" resultType="cn.laochou.markdown.pojo.Article" parameterType="int">
        select * from article where id = #{id};
    </select>
</mapper>