<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="/static/css/examples/style.css" />
    <link rel="stylesheet" href="/static/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout">
    <header>
        <h1>广告创建</h1>
    </header>
    <!-- Advertisement Form -->
    <form id="createAdForm" name="createAdForm" enctype="multipart/form-data">
        <input type="text" id="adTitle" name="adName" placeholder="Ad Title" required><br>
        <input type="file" id="adImage" name="adImages" accept="image/*" multiple required><br>
        <input type="text" id="adFeature" name="adFeature" placeholder="Feature" required>
    </form>

    <form id="mdEditorForm" name="mdEditorForm">
        标题:<input type="text" id="title" name="title"><br>
        作者:<input type="text" id="author" name="author">
        <div id="test-editormd">
            <textarea style="display:none;" id="content" name="content"></textarea>
        </div>
    </form>
    <!-- Submit Button -->
    <button id="submitAll">Submit All</button>

</div>
<script src="../static/js/examples/jquery.min.js"></script>
<script src="../static/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/article/image/upload",
            toolbarIcons : function () {
                return ["undo","redo","|","bold","del","italic","quote","ucwords","uppercase","lowercase","|","h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","hr","|","link","reference-link","image","code","preformatted-text","code-block","table","datetime","emoji","html-entities","pagebreak","|","goto-line","watch","preview","fullscreen","clear","search","|","help","info", "||", "publish"];
            },

            toolbarIconTexts: {
                publish: "<span bgcolor='gray'>发布</span>"
            },

            toolbarHandlers : {
                publish: function (cm, icon, cursor, selection) {
                    const mdEditorForm = document.getElementById('mdEditorForm');
                    const mdFormData = new FormData();
                    const title = mdEditorForm.title.value;
                    const author = mdEditorForm.author.value;
                    const content = mdEditorForm.content.value;
                    mdFormData.append('title', title);
                    mdFormData.append('author', author);
                    mdFormData.append('content', content);

                    fetch('/article/publish', {
                        method: 'POST',
                        body: mdFormData
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                const articleId = data.articleId; // 假设后端返回的文章ID字段为'articleId'

                                const createAdForm = document.getElementById('createAdForm');
                                const adTitle = createAdForm.adTitle.value;
                                const adImages = createAdForm.adImage.files;
                                const adFeature = createAdForm.adFeature.value;

                                const adFormData = new FormData();
                                adFormData.append('adName', adTitle);
                                adFormData.append('adFeature', adFeature);
                                adFormData.append('articleId', articleId); // 添加文章ID

                                for (let i = 0; i < adImages.length; i++) {
                                    adFormData.append('adImages', adImages[i]);
                                }

                                fetch('/advertisements/create', {
                                    method: 'POST',
                                    body: adFormData
                                })
                                    .then(response => response.json())
                                    .then(adData => {
                                        console.log('Ad created:', adData);
                                    })
                                    .catch(error => {
                                        console.error('Error creating ad:', error);
                                    });
                            }
                        })
                    // const createAdForm = document.getElementById('createAdForm');
                    // event.preventDefault();
                    //
                    // const adTitle = createAdForm.adTitle.value;
                    // const adImages = createAdForm.adImage.files;
                    // const adFeature = createAdForm.adFeature.value;
                    //
                    // const formData = new FormData();
                    // formData.append('adName', adTitle);
                    // formData.append('adFeature', adFeature);
                    //
                    // for (let i = 0; i < adImages.length; i++) {
                    //     formData.append('adImages', adImages[i]);
                    // }
                    //
                    // fetch('/advertisements/create', {
                    //     method: 'POST',
                    //     body: formData
                    // })
                    //     .then(response => response.json())  // 将响应解析为 JSON
                    //     .then(adId => {
                    //         mdEditorForm.method = "post";
                    //         mdEditorForm.action = "/article/publish";
                    //
                    //         const hiddenInput = document.createElement('input');
                    //         hiddenInput.setAttribute('type', 'hidden');
                    //         hiddenInput.setAttribute('name', 'ad_id');
                    //         hiddenInput.setAttribute('value', adId);
                    //         mdEditorForm.appendChild(hiddenInput);
                    //
                    //         mdEditorForm.submit();
                    //     })
                    //     .catch(error => {
                    //         console.error('Error:', error);
                    //     });
                }
            }
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>