<!-- sidebar.html -->
<div th:fragment="sidebar">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home/index}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">广告投放系统</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${currentPath == '/home/index'} ? 'active'">
      <a class="nav-link" th:href="@{/home/index}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>统计面板</span></a>
    </li>

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--      Interface-->
<!--    </div>-->


  <li class="nav-item" th:classappend="${currentPath == '/user/list'} ? 'active'">
      <a class="nav-link" th:href="@{/user/list}">
          <i class="fas fa-fw fa-cog"></i>
          <span>用户管理</span></a>
  </li>

<!--    &lt;!&ndash; Nav Item - Utilities Collapse Menu &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"-->
<!--         aria-expanded="true" aria-controls="collapseUtilities">-->
<!--        <i class="fas fa-fw fa-wrench"></i>-->
<!--        <span>Utilities</span>-->
<!--      </a>-->
<!--      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
<!--           data-parent="#accordionSidebar">-->
<!--        <div class="bg-white py-2 collapse-inner rounded">-->
<!--          <h6 class="collapse-header">Custom Utilities:</h6>-->
<!--          <a class="collapse-item" href="utilities-color.html">Colors</a>-->
<!--          <a class="collapse-item" href="utilities-border.html">Borders</a>-->
<!--          <a class="collapse-item" href="utilities-animation.html">Animations</a>-->
<!--          <a class="collapse-item" href="utilities-other.html">Other</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--      Addons-->
<!--    </div>-->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
         aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>广告管理</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
<!--          <h6 class="collapse-header">Login Screens:</h6>-->
          <a class="collapse-item" th:href="@{/home/advertisements}">广告列表</a>
          <a class="collapse-item" th:href="@{/home/markdown}">新增广告</a>
          <a class="collapse-item" th:href="@{/home/article}">编辑广告</a>
<!--          <div class="collapse-divider"></div>-->
        </div>
      </div>
    </li>

<!--    &lt;!&ndash; Nav Item - Charts &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="charts.html">-->
<!--        <i class="fas fa-fw fa-chart-area"></i>-->
<!--        <span>Charts</span></a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" href="tables.html">-->
<!--        <i class="fas fa-fw fa-table"></i>-->
<!--        <span>Tables</span></a>-->
<!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
<!--    <div class="sidebar-card d-none d-lg-flex">-->
<!--      <img class="sidebar-card-illustration mb-2" src="../static/img/undraw_rocket.svg" alt="...">-->
<!--      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>-->
<!--      <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>-->
<!--    </div>-->

  </ul>
  <!-- End of Sidebar -->
</div>