<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户管理</title>

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="sidebar.html :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="topbar.html :: topbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <h1 class="h3 mb-2 text-gray-800">用户列表</h1>
                <!-- Page Heading -->
                <div class="d-flex flex-row flex-wrap">
                    <p class="mb-4">你可以在这里进行用户的管理</p>
                    <button class="btn btn-primary btn-user ml-sm-auto mb-4" data-toggle="modal" data-target="#addUser"
                            th:if="${user.roleName=='admin'}">新建用户</button>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <!--                        <div class="card-header py-3">-->
                    <!--                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->
                    <!--                        </div>-->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>用户编号</th>
                                    <th>用户名</th>
                                    <th>创建时间</th>
                                    <th>最近更改时间</th>
                                    <th>用户角色</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 使用 th:each 遍历用户列表 -->
                                <tr th:each="users : ${userList}">
                                    <td th:text="${users.id}"></td>   <!-- 用户编号 -->
                                    <td th:text="${users.username}"></td>  <!-- 用户名 -->
                                    <td th:text="${users.createdAt}"></td>  <!-- 创建时间 -->
                                    <td th:text="${users.updatedAt}"></td>  <!-- 最近更改时间 -->
                                    <td>
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <button class="btn btn-primary btn-light btn-sm dropdown-toggle"
                                                    type="button" id="roleSelectButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    th:text="${users.roleName == 'advertisers' ? '广告主' : (users.roleName == 'admin' ? '管理员' : '站长')}"></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                                 th:if="${user.roleName=='admin'}">
                                                <a th:if="${users.roleName}" class="dropdown-item" href="#"
                                                   th:onclick="'updateUserRole(' + ${users.id} + ', 0)'">站长</a>
                                                <a th:if="${users.roleName!='advertisers'}" class="dropdown-item"
                                                   href="#"
                                                   th:onclick="'updateUserRole(' + ${users.id} + ', 1)'">广告主</a>
                                                <a th:if="${users.roleName!='admin'}" class="dropdown-item" href="#"
                                                   th:onclick="'updateUserRole(' + ${users.id} + ', 2)'">管理员</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:if="${user.roleName=='admin'}">
                                        <!-- Dropdown -->
                                        <div class="dropdown">
                                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                操作
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#"
                                                   data-toggle="modal" data-target="#modifyPasswordModal"
                                                   th:userId="${users.id}">编辑</a>
                                                <a class="dropdown-item text-danger" href="#"
                                                   th:onclick="'deleteUser(' + ${users.id} + ')'">删除</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 上海理工大学Web开发大作业</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--修改password model-->
<div class="modal fade" id="modifyPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">修改密码</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="password"
                  onsubmit="changeOthersPassword(event)">
                <div class="form-group">
                    <input type="password"
                           class="form-control form-control-user"
                           name="password"
                           id="password" aria-describedby="emailHelp"
                           placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="rePassword" placeholder="请确认密码">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    确定
                </button>
                <hr>
            </form>
        </div>
    </div>
</div>

<!--修改addUser model-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">新建用户</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="user"
                  onsubmit="createUser(event)">
                <div class="form-group">
                    <input
                            class="form-control form-control-user"
                            name="username"
                            id="exampleInputEmail" aria-describedby="emailHelp"
                            placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           name = "password"
                           id="exampleInputPassword" placeholder="请输入用户密码">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    创建用户
                </button>
                <hr>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../static/js/demo/datatables-demo.js"></script>
<script>
    let userId;
    function deleteUser(userId) {
        console.log('delete user:', userId)
        if (confirm('确定要删除此用户吗？')) {
            fetch(`/user/${userId}`, {
                method: 'DELETE'
            })
                .then(async response => {
                    response = JSON.parse(await response.text());
                    if (response.code === 200) {
                        location.reload(); // 删除成功后刷新页面
                    } else {
                        alert(`删除失败: ${response.message}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('删除请求失败');
                });
        }
    }

    function updateUserRole(userId, index) {
        const roleList = ['siteOwner', 'advertisers', 'admin'];
        const userRole = roleList[index];
        fetch(`/user/role/${userId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({roleName: userRole}),
        })
            .then(async response => {
                response = JSON.parse(await response.text());
                if (response.code === 200) {
                    location.reload(); // 删除成功后刷新页面
                } else {
                    alert(`${response.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('请求失败');
            });
    }

    function changeOthersPassword(event) {
        event.preventDefault()
        const password = document.getElementById("password").value;
        const rePassword = document.getElementById("rePassword").value;
        if (password !== rePassword) {
            alert("两次输入的密码不一致");
        } else {
            fetch(`/user/password/` + userId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({password: password}),
            })
                .then(async response => {
                    response = JSON.parse(await response.text());
                    if (response.code === 200) {
                        alert("修改成功");
                        location.reload(); // 删除成功后刷新页面
                    } else {
                        alert(`${response.message}`);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('请求失败');
                });
        }
    }

    function createUser(event) {
        event.preventDefault()
        const username = document.getElementById("exampleInputEmail").value;
        const password = document.getElementById("exampleInputPassword").value;
        fetch(`/user/add`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({username: username, password: password}),
        })
            .then(async response => {
                response = JSON.parse(await response.text());
                if (response.code === 200) {
                    location.reload(); // 删除成功后刷新页面
                } else {
                    alert(`${response.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('请求失败');
            });
    }

    $(document).ready(function () {
        $('#modifyPasswordModal').on('shown.bs.modal', function (event) {
            const user = event.relatedTarget;
            userId = user.getAttribute('userId');
        });
    });
</script>
</body>

</html>